@import "tailwindcss";

:root {
  /* --background: #ffffff; */
  --background: #0a0a0a;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
img,
span,
button {
  display: block;
  cursor: pointer;
}

input,
button,
textarea {
  font: inherit;
}

html {
  height: 100%;
  font-size: 18px;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 4px;
}
html::-webkit-scrollbar-track {
  background: #f1f1f1;
}
html::-webkit-scrollbar-thumb {
  background: #888;
}
html::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  @apply block 
}
button{
  @apply bg-orange-400 px-2 rounded-md border border-white cursor-pointer h-8 md:h-9 text-center
  hover:bg-orange-300 hover:border-gray-100 transition delay-300 ease-in-out shadow-md shadow-neutral-900
  lg:h-10 lg:px-4 text-gray-100
}
/* bg-neutral-600 */
button p{
  @apply text-center text-gray-100 font-bold 
  text-[20px] sm:text-[20px] md:text-[20px] lg:text-[20px] leading-2 select-none 
}

h1{
  @apply text-[25px] sm:text-[30px] md:text-[40px] lg:text-[50px] font-bold select-none text-gray-100
}
h2{
  @apply text-[25px] sm:text-[30px] md:text-[35px] lg:text-[50px] text-gray-100 
  font-bold capitalize relative select-none
}
h2::before,
h2::after{
  content: "~";
  @apply absolute 
}
h2::before{
  @apply -left-[1.5rem] sm:-left-[2rem] md:-left-[4rem] 
}
h2::after{
  @apply -right-[1.5rem] sm:-right-[2rem] md:-right-[4rem] 
}
h3{
  @apply text-[25px] sm:text-[30px] md:text-[35px] lg:text-[40px] font-bold select-none text-gray-100
}
h4{
  @apply text-[18px] sm:text-[20px] md:text-[22px] lg:text-[24px] select-none text-gray-100
}
h5{
  @apply text-[13px] sm:text-[20px] md:text-[22px] lg:text-[20px] text-gray-200 select-none
}
h6{
  @apply text-[14px] sm:text-[18px] md:text-[20px] lg:text-[16px] text-gray-100 select-none
}
p{
  @apply text-[16px] md:text-[17px] lg:text-[18px] font-medium select-none text-gray-100
}


/* Header -> Navbar */
.header-head{
  background: #0a0a0a;
  @apply place-items-center place-content-center fixed top-0 w-[100%] place-self-center 
  z-20 h-28 md:h-35 lg:h-38 
}
.header-head nav{
  background-image: url('../../public/pic/asfalt-dark.png');
  background-repeat: no-repeat; background-position: center; background-size: cover;
  @apply bg-white flex place-items-center place-content-between px-6 border-2 border-neutral-800 lg:border-0
  md:px-4 md:place-content-evenly h-15 md:h-18 lg:h-20 w-[90%] sm:w-[85%] place-self-center rounded-lg 
}
.header-head nav div .img,
.header-head nav div .img-mobile{
  @apply h-fit cursor-pointer hover:scale-95 transition delay-300 ease-in-out
}
.header-head nav div .img{
  @apply w-6 sm:w-7 md:w-10 lg:w-10
}
.header-head nav div .img-mobile{
  @apply  w-25 
}
.header-head nav span{
  @apply bg-gray-100 h-6 w-1 md:h-8 md:w-1.5 lg:h-10 lg:w-2 rounded-t-lg rounded-b-lg mx-2 lg:mx-4
}
.header-head nav span:nth-of-type(1),
.header-head nav span:nth-of-type(2){
  @apply hidden md:block
}
.header-head nav div:nth-child(3){
  @apply hidden sm:flex place-content-end md:place-content-between md:w-full lg:w-170 
}
.header-head nav div:nth-child(3) ul{
  @apply flex gap-x-2 lg:gap-x-4
}
.header-head nav div ul:nth-child(1){
  @apply sm:hidden md:flex gap-x-1.5 lg:gap-x-4
}
.header-head nav div ul:nth-child(1) li{
  @apply place-items-center place-content-center w-fit 
}
.header-head nav div ul:nth-child(1) li p{
  @apply font-bold cursor-pointer hover:font-bold hover:text-orange-500 text-neutral-800 
  text-[18px] md:text-[20px] lg:text-[22px]
}
.header-head nav div ul:nth-child(2){
  @apply hidden md:flex
}
.header-head nav div ul:nth-child(2) li{
  @apply bg-gray-200 rounded-md p-1 place-items-center h-fit cursor-pointer
}
.header-head nav div ul:nth-child(2) li .icon-x{
  @apply w-6 h-6 lg:w-8 lg:h-8 hover:scale-90
}
.header-head nav div ul:nth-child(2) li .icon-x-discord{
  @apply w-8 lg:w-10 
}
.header-head nav div:nth-child(5) button{
  @apply hidden md:block
}
.header-head nav div:nth-child(5) div{
  @apply block md:hidden cursor-pointer
}
.header-head nav div:nth-child(5) div p{
  @apply h-1 w-6 rounded-lg relative  
}
.inactive-menu{
  @apply bg-neutral-900 
}
.active-menu{
  @apply bg-transparent opacity-0
}
.header-head nav div:nth-child(5) div p::before{
  content: "";
  @apply bg-neutral-900 rounded-lg absolute h-1 w-5  
}
.inactive-menu::before{
  @apply bg-neutral-900 left-0.5 top-2
}
.active-menu::before{
  @apply bg-transparent rotate-45 top-0
}
.header-head nav div:nth-child(5) div p::after{
  content: "";
  @apply bg-neutral-900 rounded-lg absolute h-1 w-5  
}
.inactive-menu::after{
  @apply bg-neutral-900 left-0.5 bottom-2
}
.active-menu::after{
  @apply bg-transparent -rotate-45 bottom-0
}
.header-head .overlay-open{
  @apply bg-neutral-900 opacity-90 w-[100%] top-[0] h-[100vh] py-4  
  absolute place-items-end pr-[1.5rem] sm:pr-[3rem] cursor-pointer
  md:hidden 
}
.header-head .overlay-close{
  @apply hidden
}
.header-head .overly-menu-close-icon{
  @apply bg-transparent block z-10 absolute right-[3rem] sm:right-[4rem] top-[2.2rem] 
  place-content-center place-items-center
}
.header-head .overly-menu-close-icon::before,
.header-head .overly-menu-close-icon::after{
  content: "";
  @apply bg-white opacity-100 rounded-lg absolute h-1 w-5 place-self-center
}
.header-head .overly-menu-close-icon::before{
  @apply rotate-40
}
.header-head .overly-menu-close-icon::after{
  @apply -rotate-40
}
.header-head .menu-option-open{
  @apply bg-black block absolute right-[1.5rem] sm:right-[3rem] top-[4rem] 
  z-10 h-120 py-4 w-60 sm:w-70 rounded-2xl pl-[1.5rem] 
  sm:pl-[2rem] place-content-start border border-gray-50 
}
.header-head .menu-option-close{
  @apply hidden
}
.header-head .menu-option-open ul{
  @apply bg-transparent
}
.header-head .menu-option-open ul li{
  @apply cursor-pointer pl-0 sm:pl-2 hover:scale-95 hover:animate-pulse
}
.header-head .menu-option-open ul li p{
  @apply my-2 text-gray-50
}

/* Main  -> Contents*/
.main-body{
  @apply place-items-center my-[6.5rem] md:my-[9rem] lg:my-[10rem] relative 
}
.main-body section{
  @apply py-[1rem] md:py-0 w-[90%] sm:w-[85%] place-self-center block space-y-[5rem] lg:space-y-[10rem] 
}
.main-body section .lang-mode-option{
  @apply h-fit w-fit py-1 fixed right-4 lg:right-5 -bottom-[2rem] lg:-bottom-[8.5rem] z-10 
  flex flex-row-reverse gap-x-2.5 
}
 .lang-mode-option .lang-mode{
  @apply bg-neutral-800 w-fit h-fit p-1 block space-y-2 
  rounded-md border border-gray-500 place-self-end
}
.lang-mode span{
  @apply cursor-pointer hover:bg-neutral-600 active:bg-neutral-600 
 p-0.5 transition ease-in-out delay-200 rounded-md hover:scale-95 w-fit h-fit
} 
.lang-mode span svg{
 @apply size-5 md:size-7 
}

.lang-mode-option .option-mode-show{
  @apply bg-neutral-800 w-fit h-fit px-1 block mt-1 py-1 pr-4 rounded-md relative border border-gray-500
  place-self-start shadow-xs shadow-gray-200
}
.lang-mode-option .option-mode-hide{
  @apply hidden pointer-events-none  
}
.option-mode-show::after{
  content: "";
  @apply w-6 h-2 bg-neutral-700 absolute -right-4 top-2.5 -z-10 rounded-md border border-gray-500
}
.option-mode-show span{
  @apply flex place-items-center gap-x-2 
}
.option-mode-show span p{
  @apply text-start text-gray-100 first-letter:capitalize font-light
}
.option-mode-show span svg{
  @apply size-3.5 md:size-5
}

.lang-mode-option .option-lang-show{
  @apply bg-neutral-800 w-30 h-fit p-1 block py-1.5  
  rounded-md relative border border-gray-500 place-self-end shadow-xs shadow-gray-200
}
.lang-mode-option .option-lang-hide{
  @apply hidden pointer-events-none  
}
.option-lang-show::after{
  content: "";
  @apply w-6 h-2 bg-neutral-700 absolute -right-4 bottom-[0.8rem] -z-10 rounded-md border border-gray-500
}
.option-lang-show span{
  @apply block place-items-start gap-x-2 
}
.option-lang-show span p{
  @apply text-start text-gray-100 first-letter:capitalize my-1 px-3 w-[90%] transition ease-in-out delay-200 font-light
  hover:bg-neutral-600 active:bg-neutral-600 border border-transparent hover:border-gray-500 active:border-gray-500 rounded-md
}
.option-lang-show .option-lang-selected{
  @apply bg-neutral-700 border-gray-400
}
.option-lang-show .option-lang-selected-not{
  @apply bg-transparent border-transparent
}


.main-body section .banner-img{
  background-image: url('../../public/pic/asfalt-dark.png');
  background-repeat: no-repeat; background-position: center; background-size: cover;
  @apply h-120 sm:h-150 md:h-120 w-full place-self-center place-content-between relative rounded-4xl overflow-hidden
  border-2 border-neutral-800 md:border-0 cursor-pointer 
}
.banner-img div{
  background-image: url('../../public/pic/asfalt-dark.png');
  background-repeat: no-repeat; background-position: center; background-size: cover;
  @apply bg-white sm:w-[100%] md:w-100 h-fit px-2 py-2 md:py-4 border-2 md:border-4 border-gray-200
  
}
.banner-img div:nth-child(1){
  @apply place-self-start text-center place-items-center place-content-center w-[85%] 
  md:w-100 capitalize rounded-none rounded-br-4xl lg:h-55
}
.banner-img div:nth-child(1) h1{
  @apply lg:leading-[3.5rem] sm:py-2 md:py-1 text-neutral-800
}
.banner-img .middle-pic{
  @apply block absolute -top-[4.8rem] sm:-top-[2.5rem] md:top-0 bottom-0 place-self-center -z-10 
  w-[60%] sm:w-90 h-fit md:w-100 lg:w-90 transition delay-200 animate-pulse 
}
.banner-img div:nth-child(3){
  @apply place-self-end-safe absolute bottom-0 block space-y-5 pl-4 rounded-tl-4xl px-2 pb-5 w-[85%] md:w-100
  mt-[5rem] md:mt-0 md:pb-4 md:px-0 md:pl-5 pt-4 
  font-semibold text-neutral-800 
}
.banner-img div:nth-child(3) h4{
  @apply text-neutral-900 text-start lowercase first-letter:capitalize 
}
.banner-img div:nth-child(3) button{
  @apply float-end mr-4 -mt-2 md:-mt-2 
}


.main-body section h2{
  @apply w-fit text-center place-self-center
}

.main-body section .vision-mission{
  @apply md:px-4 block place-items-center space-y-[1.5rem] lg:space-y-[3rem] 
}
.vision-mission div{
  @apply  space-y-[1rem] lg:space-y-[2rem]
}
.vision-mission div article {
  @apply cursor-pointer
}
.vision-mission div article h4{
  @apply text-gray-50
}
.vision-mission div article ul{
  @apply list-disc text-gray-50 w-fit ml-[1.5rem] md:ml-[3rem] lg:ml-[5rem] my-[0.8rem] lg:my-[1rem]
}
.vision-mission div article ul li{
  @apply text-[16px] md:text-[18px] lg:text-[25px] text-gray-50 
}

.main-body section .eco-system{
  @apply place-items-center space-y-[2rem] lg:space-y-[5rem]
}
.eco-system div{
  @apply grid grid-cols-1 sm:grid-cols-2 w-full gap-y-2 sm:gap-y-8 lg:flex lg:flex-wrap 
  md:gap-x-4 md:gap-y-4 lg:gap-x-6 lg:gap-y-10 place-self-center place-items-center transition delay-300 ease-in-out
}
.eco-system div span{
  background-image: url('../../public/pic/asfalt-dark.png');
  background-repeat: no-repeat; background-position: center; background-size: cover;
  @apply bg-gray-100 w-[100%] sm:w-[90%] h-30 sm:h-40 lg:w-80 md:h-50 rounded-4xl px-4 py-4 border-8 border-gray-200
  shadow-md shadow-foreground place-content-center place-items-start relative hover:border-neutral-300
  space-y-6 lg:space-y-10
}
.eco-system div span h3,
.eco-system div span h4{
  @apply text-neutral-900 h-fit leading-4
}

.main-body section .utility-part{
  @apply space-y-[2rem] lg:space-y-[5rem] place-items-center 
}
.utility-part p{
  @apply text-gray-100 font-light mt-[1rem] mb-3 lg:mt-[3rem] lg:mb-8 leading-5 md:leading-normal w-[100%] place-self-center
  text-[16px] sm:text-[18px] md:text-[20px] lg:text-[22px]
}
.utility-part .img-container{
  @apply block w-[100%] py-2 space-y-0.5
  /* pl-2 overflow-x-scroll space-x-10 */
}
.utility-part .utility-pic{
  @apply w-full h-fit place-self-center
}

.main-body section .core-team{
  @apply place-items-center  
}
.core-team p{
  @apply text-gray-100 font-light mt-[1rem] mb-3 lg:mt-[3rem] lg:mb-8 leading-5 md:leading-normal w-[100%] place-self-center
  text-[16px] sm:text-[18px] md:text-[20px] lg:text-[22px]
}
.core-team div{
  @apply grid grid-cols-2 w-[100%] lg:grid-cols-4 gap-1.5 sm:gap-3 md:gap-6 
}
.core-team div span {
  @apply grayscale-100 opacity-90 hover:grayscale-0 active:grayscale-0 transition delay-300 ease-in-out
  cursor-pointer relative overflow-hidden border-4 border-neutral-800 rounded-3xl
}
.core-team div span .team-pic{
  @apply w-full h-fit  
}
.core-team div span article{
  @apply w-full absolute bottom-0 h-fit pb-2 md:pb-3 lg:pb-4 place-content-center pl-4
  z-10 rounded-b-lg 
}
.core-team div span article h5{
  @apply leading-4 md:leading-6
}


.main-body section .explore-sec{
  @apply place-items-center space-y-[2rem] lg:space-y-[5rem]
}
.explore-sec div{
  @apply grid grid-cols-2 sm:grid-cols-3 w-full gap-y-4 sm:gap-y-8 lg:flex lg:flex-wrap gap-x-0
  md:gap-x-4 md:gap-y-4 lg:gap-x-6 lg:gap-y-10 place-self-center place-items-center transition delay-300 ease-in-out
}
.explore-sec div span{
  background-image: url('../../public/pic/asfalt-dark.png');
  background-repeat: no-repeat; background-position: center; background-size: cover;
  @apply bg-gray-100 w-[90%] h-20 sm:h-20 lg:w-55 md:h-30 rounded-2xl px-4 py-4 border-4 lg:border-8 border-gray-200 transition 
  shadow-md shadow-foreground place-content-center place-items-start relative hover:border-neutral-300 hover:scale-95 active:scale-105
  space-y-6 lg:space-y-10 
}
.explore-sec div span h3,
.explore-sec div span h4{
  @apply text-neutral-900 h-fit leading-4 
}

.main-body section .support{
  @apply place-items-center space-y-[2rem] lg:space-y-[3rem] relative
}
.support div{
  @apply place-items-center place-content-center flex w-full
  space-x-1 sm:space-x-4 md:space-x-6 lg:space-x-8
}
.support div span .support-logo1{
  @apply size-15 sm:size-25 md:size-30 lg:size-60
}
.support div span .support-logo2{
  @apply w-45 h-10 sm:w-65 sm:h-15 md:w-75 md:h-25 lg:w-140 lg:h-30
}
.support p{
  @apply bg-transparent w-6 h-6 absolute -bottom-[4rem] rounded-full 
}
.support p::before,
.support p::after{
  content: "";
  @apply bg-white size-3 absolute rounded-full md:size-4 lg:size-5
}
.support p::before{
  @apply -left-[0.5rem] md:-left-[2rem]
}
.support p::after{
  @apply -right-[0.5rem] md:-right-[2rem]
}

/* Footer */
.footer-foot{
  background: #0a0a0a;
  border-color: #0a0a0a;
  @apply place-items-center place-content-center bottom-0 w-[100%] 
  place-self-center relative h-fit border-0 block
}
.footer-foot div:nth-child(1){
  @apply w-[90%] place-items-center
}
.footer-foot div:nth-child(1) .logo-custom{
  background-image: url('../../public/pic/asfalt-dark.png');
  background-repeat: no-repeat; background-position: center; background-size: cover;
  @apply w-50 md:w-90 lg:w-140 h-fit hover:rotate-45 transition ease-in-out delay-300 
  mt-[2rem] mb-[5rem]
}
.footer-foot div:nth-child(2){
  @apply w-full block relative place-items-center place-content-center
  py-[2rem] 
}
.footer-foot div:nth-child(2) .social-logo-box{
  @apply place-items-start place-content-center flex gap-x-2 sm:gap-x-4
  flex-wrap sm:w-[90%] h-fit
}
.footer-foot div:nth-child(2) .social-logo-box span{
  @apply  border-2 md:border-4 border-gray-100 p-1 md:p-2 rounded-md 
  hover:border-gray-300 hover:scale-95
}
.footer-foot div:nth-child(2) .social-logo-box span .social-logo-1{
  @apply size-6 lg:size-10
}
.footer-foot div:nth-child(2) h6{
  background-image: url('../../public/pic/asfalt-dark.png');
  background-repeat: no-repeat; background-position: center; background-size: cover;
  @apply w-[90%] h-0.5 md:h-1 lg:h-2 bg-gray-50 rounded-lg mt-[1.5rem] mb-[2rem]
}
.footer-foot div:nth-child(2) p{
  @apply text-[12px] sm:text-[15px] md:text-lg text-center uppercase text-gray-100
}
